<h2>Tasks</h2>
<ol class="grid gap-4">
  <li>Inject <strong> AppService</strong> in <strong> AppComponent</strong></li>
  <li>
    Get <strong> GridData </strong> from the service and display it with this
    <a
      target="_blank"
      href="https://www.figma.com/file/ZNchn8BTcKarJyBNyMw9Cz/Starter-Template-Designs?node-id=920%3A653&t=KK8RyMLgj0MFn43N-0"
      ><strong> Design</strong></a
    >
  </li>
  <li>
    Translte 'Statuses' of the data by using a <strong>Pipe</strong>  
  </li>
  <li>
    Search functionality : filter data based on user input ( see input design )
  </li>
  <li>
    make service observable to return <strong>error</strong> ( see error design )
  </li>
</ol>
<br>
<br>
<br>
<!-- task content -->